





<footer class="wave">Created by Shravan Sukumaran &#169;2024&nbsp;<span style="font-size: xx-small;">(Courtesy:American Film Institute, IMDb)</span></footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>